<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h2>{{message}}</h2>
    <!-- 遍历数组，不使用下标 -->
    <ul>
      <li v-for="item in value">{{item}}</li>
    </ul>
    <!-- 遍历数组，获取下标 -->
    <ul>
      <li v-for="(item,index) in value">{{index}}-{{item}}</li>
    </ul>
  </div>
  <script src="../JS/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message:'天气真好',
        value: [
          "java",
          "c",
          "c++"
        ]
      }
    })
  </script>
</body>
</html>